<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="ControlDePacientes.Reports.Properties.Settings.CSReportes" connectionString="server=localhost;User Id=root;password=mapreco;Persist Security Info=True;database=hospitalinfantil" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
